<!DOCTYPE html>
  <html>
      <head>
          <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
          <link href="stylesheets/application.css" rel="stylesheet" type='text/css'>
          <meta charset="utf-8">
          <title>
              My test page
          </title>
      </head>
      <body>
          <h1>
              Matrix scenes
          </h1>
          <img src="images/neo_spawn.jpg" alt="Neo olhando para uma colher em suas mãos">
          <p class="capitular">
              Neo tentanto entortar a colher. 
              Cena do primeiro filme da trilogia Matrix. 
              <br> 
              <br>É inevitável o paralelo entre a jornada
              de Neo e nossa constante busca em conhecer 
              um pouco mais sobre quem somos e sobre o 
              nosso propósito durante nossas vidas.
              <br> 
              Diferente dos outros animais, nós seres 
              humanos não temos um propósito específico determinado.
              <br>
              Visto que diante de nossos olhos são apresentadas escolhas
              que nos tentam convencer de que existe liberdade.
              Nossas escolhas parecem ser mais variadas do que
              a dos outros animais.
              <br>
              <strong></strong>como diria o Oráculo:
              </p>
              <form class="radio">
                  <fieldset>
                      <legend>
                      Você aceita uma bala?
                      </legend>
                      <input type="radio" name="bala" value="Aceito">Aceito<br>
                      <input type="radio" name="bala" value="Se sabe que eu vou recusar, por quê pergunta?">Se sabe que eu vou recusar, por quê pergunta?
                  </fieldset>
              </form>
              <p>
                  No exemplo acima, você percebe a existência de duas opções
                  excludentes entre si. O mundo nos proporciona apenas múltiplos dessas escolhas.
                  O que diferencia a liberdade da falta de liberdade é meramente a quantidade de escolhas?
                  Um super processador, como o usado pelo programa Oráculo, bastaria para 
                  lhe convencer de que você não é livre.
              </p>
          <ol>
              <li>
                  <a href="https://www.youtube.com/watch?v=dNlv11vqJSA">
                      Enter the Matrix
                  </a>
              </li>
              <li>
                  <a href="https://www.youtube.com/watch?v=eYbQbfTmESI">
                      Matrix Reloaded
                  </a>
              </li>
              <li>
                  <a href="https://www.youtube.com/watch?v=p39U39Lt3a8">
                      Matrix Revolution
                  </a>
              </li>
          </ol>        
      </body>
      <script src="main.js"></script>
  </html>
<!DOCTYPE html>

